<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
d = {'grade' : ['A', 'A', 'B', 'A', 'C', 'C', 'A', 'B', 'B', 'B', 'C' ,'A', 'B', 'B'],
     'score' : [96, 95, 84, 92, 35, 67, 99, 81, 82, 88, 70, 98, 84, 85]}

In [3]:
df = pd.DataFrame(d)
df

   grade  score
0      A     96
1      A     95
2      B     84
3      A     92
4      C     35
5      C     67
6      A     99
7      B     81
8      B     82
9      B     88
10     C     70
11     A     98
12     B     84
13     B     85

In [4]:
df.groupby('grade')['score'].mean().reset_index()

  grade      score
0     A  96.000000
1     B  84.000000
2     C  57.333333

- groupby한 변수의 unique한 값들의 대표값들만 DataFrame형식으로 리턴

In [5]:
df.groupby('grade')['score'].transform('mean')

0     96.000000
1     96.000000
2     84.000000
3     96.000000
4     57.333333
5     57.333333
6     96.000000
7     84.000000
8     84.000000
9     84.000000
10    57.333333
11    96.000000
12    84.000000
13    84.000000
Name: score, dtype: float64

- transform은 대표값을 내보내는 것이 아니라 인덱스 유지하며 Series형식으로 리턴

In [6]:
df['minus_mean'] = df['score'] - df.groupby('grade')['score'].transform('mean')
df

   grade  score  minus_mean
0      A     96    0.000000
1      A     95   -1.000000
2      B     84    0.000000
3      A     92   -4.000000
4      C     35  -22.333333
5      C     67    9.666667
6      A     99    3.000000
7      B     81   -3.000000
8      B     82   -2.000000
9      B     88    4.000000
10     C     70   12.666667
11     A     98    2.000000
12     B     84    0.000000
13     B     85    1.000000

- 이렇게 파생변수 만들 때 유용하다. (계산할 때?)

In [28]:
df.groupby('grade').transform('mean')

        score
0   96.000000
1   96.000000
2   84.000000
3   96.000000
4   57.333333
5   57.333333
6   96.000000
7   84.000000
8   84.000000
9   84.000000
10  57.333333
11  96.000000
12  84.000000
13  84.000000

- 하지만 Series를 넣지 않고 DataFrame을 넣으면 DataFrame형식으로 리턴